html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero {
  background: linear-gradient(135deg, #1f2937, #374151);
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

h1 {
  font-weight: 800;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

#input {
  text-align: center;
  width: 120px;
  height: 85px;
  color: white;
  background-color: transparent;
  border: 2px solid #4b5563;
  font-size: 60px;
  border-radius: 5px;
  font-weight: 800;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input:focus {
  outline: none;
  border-color: #60a5fa;
  box-shadow: 0 4px 8px rgba(96, 165, 250, 0.3);
}

#convert-btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: white;
  color: #4b5563;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  width: 130px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#convert-btn,
.section {
  cursor: pointer;
  transition: all 0.3s;
}

#convert-btn:hover {
  background-color: #f3f4f6;
  transform: scale(0.95);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9ca3af;
  padding: 35px 25px;
}

.section {
  width: 100%;
  max-width: 500px;
  color: #4b5563;
  font-weight: 300;
  background: white;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0, 1);
}

.section:hover {
  background: #f3f4f6;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

footer {
  background: #1f2937;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  font-size: 5px;
}
